/
<template>
  <header class="header">
    <div class="container">
      <div class="left">
        <!-- 基础路由 -->
        <router-link :to="val.path" v-for="val in navData" :key="val.path">{{
          val?.meta?.title
        }}</router-link>
        <!-- 动态路由 -->
        <router-link
          :to="`/page/${val.path}`"
          v-for="val in navList"
          :key="val.id"
          >{{ val.name }}</router-link
        >
      </div>
      <div class="right">
        <a-button>英汉互译</a-button>
        <a-button @click="handleChangeTheme">主题颜色</a-button>
      </div>
    </div>
  </header>
</template>

<script setup lang="ts">
import useStore from "@/stores"
import { storeToRefs } from "pinia"
import { computed, onMounted } from "vue"
import { useRouter } from "vue-router"
const {
  options: { routes },
} = useRouter()
const store = useStore()
// 动态路由
const { navList } = storeToRefs(store)
const init = () => {
  store.getNavData()
}
onMounted(() => {
  init()
})
// 基础路由
const navData = computed(() => {
  return routes.filter((item) => item?.meta?.nav)
})
// 主题模式切换
const handleChangeTheme = () => {
  document.documentElement.classList.toggle("dark")
}
</script>

<style lang="less" scoped>
.header {
  height: 64px;
  background: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
}
.container {
  height: 100%;
  .display-flex-row-mixin(space-between, center);
}
.left {
  width: 55%;
  display: flex;
  justify-content: space-around;
  a:hover {
    color: orangered;
  }
}
</style>
