:root {
    --border-color: #e5e6eb; /* header的下边框 */
    --bg-color: #fff; /* header背景切换 */
    --wrap-color: #e8eaed; /* 主体部分背景 */
    --main-color: #fff; /* 主体内容的背景 */
    --fs-color: #000; /* 字体颜色 */
}
:root.dark {
    --border-color: #e5e6eb;
    --bg-color: #282c34;
    --wrap-color: #282c34;
    --main-color: #363c48;
    --fs-color: #fff;
}
