<template>
  <div class="about">
    <router-view></router-view>
    <input type="text" v-model="todoData.todoText" />
    <a-button type="primary" @click="handleClickSend">send</a-button>
    <ul ref="oUL">
      <li v-for="val in todoData.todoList" :key="val.id">{{ val.value }}</li>
    </ul>
  </div>
</template>

<script setup lang="ts">
import { onMounted, reactive, ref } from "vue"
interface TodoList {
  todoList: Array<{ id: number; value: string }>
  todoText: string
}
let id = 0
// reactive 转换复杂的数据结构
const todoData = reactive<TodoList>({
  todoList: [],
  todoText: "文本框值",
})
// ref 转换基本的数据结构
const oUL = ref(null)
const handleClickSend = () => {
  todoData.todoList.push({
    id: id++,
    value: todoData.todoText,
  })
  console.log(todoData.todoList)
  todoData.todoText = ""
}
// 组件挂载完成后执行的函数
onMounted(() => {
  console.log("onMounted", oUL.value)
})
</script>
