<template>
  <div class="article">
    <div class="left">
      <dl v-for="val in list" :key="val.id">
        <dt>{{ val.title }}</dt>
        <dd>
          <span>赞：{{ val.likes }}</span> -- <span>浏览：{{ val.views }}</span>
        </dd>
      </dl>
    </div>
    <div class="right"></div>
  </div>
</template>

<script lang="ts" setup>
import useStore from "@/stores"
import { storeToRefs } from "pinia"
import { onMounted } from "vue"
const store = useStore()
const { list } = storeToRefs(store)

const init = () => {
  store.getListAction()
}
onMounted(() => {
  init()
})
</script>

<style lang="less">
.article {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  .left {
    width: 65%;
    background: var(--main-color);
    dl {
      padding: 25px 20px;
      border-bottom: 1px solid var(--border-color);
      line-height: 30px;
      dd {
        font-size: 12px;
      }
    }
    dl:hover {
      color: orangered;
    }
  }
  .right{
    width: 30%;
    height: 300px;
    background: var(--main-color);
  }
}
</style>
