<template>
  <div id="root">
    <div id="wrapper">
      <base-header />
      <main>
        <router-view></router-view>
      </main>
      <footer></footer>
    </div>
  </div>
</template>

<script setup lang="ts"></script>
<style lang="less" scoped>
#wrapper main {
  width: 80%;
  flex: 1;
  margin: 0 auto;
  margin-top: 20px;
}
</style>
